.container {
  min-height: 90rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ascii-art {
  color: var(--off-black);
  font-size: 0.7rem;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: 0;
  font-weight: bold;
}

.title {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: medium;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  background-color: var(--primary);
}
