.container {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh; 
}

.body {
  font-size: 10rem;
}

.title {
  text-transform: uppercase;
  font-size: 13rem;
  line-height: 1;
  translate: 12px 0;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.welcome-text {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.image-container {
  width: clamp(18rem, 25rem, 32rem);
  border-radius: 1rem;
  aspect-ratio: 1 / 1;
  transition: all 100ms;
  z-index: 1;
  position: relative;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.ascii-img-pos {
  top: 0;
  left: 0;
  transform: translateX(-20px) translateY(-33px);
  z-index: 2;
}

.ascii-col-pos-l {
  left: 0;
  top: 0;
  transform: translateY(22px);
}

.ascii-col-pos-r {
  right: 0;
  top: 0;
  transform: translateY(22px);
}

.small-p {
  width: 10rem;
  font-size: small;
}
