.container {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  font-size: 10rem;
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.welcome-text {
  text-align: right;
}

.image-container {
  width: clamp(18rem, 25rem, 32rem);
  border-radius: 1rem;
  aspect-ratio: 1 / 1;
  transition: all 100ms;
  z-index: 1;
  position: relative;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.ascii-pos {
  position: absolute;
  top: -6%;
  left: -5%;
  z-index: 2;
}