.ascii-bg {
  white-space: pre;
  line-height: 1;
  display: inline-block;
  color: var(--off-black);
  font-size: medium;
}

.ascii-base {
  white-space: pre;
  line-height: 1;
  display: inline-block;
}

.ascii-nav {
  max-width: 100vw;
  overflow: hidden;
  font-size: small;
  display: flex;
}

.ascii-track {
  display: inline-flex;
  width: auto;
  animation: scroll 250s linear infinite;
}

.ascii-track-reverse {
  animation-direction: reverse;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
