.ascii-bg, .ascii-base {
  letter-spacing: 0;
  word-spacing: 0;
  font-feature-settings: normal;
  font-kerning: none;
  line-height: 1em;
  color: var(--off-black);
  white-space: pre;
  display: inline-block;
}

.ascii-bg {
  font-size: 0.9rem;
}

/* .ascii-base is without color */

.switch .ascii-bg {
  color: var(--primary-90);
} 

.ascii-nav {
  max-width: 100vw;
  overflow: hidden;
  font-size: small;
  display: flex;
}

.ascii-track {
  display: inline-flex;
  width: auto;
  animation: scroll 250s linear infinite;
}

.ascii-track-reverse {
  animation-direction: reverse;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
