.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-90);
}

.project-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.project-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  height: 15rem;
  width: 50rem;
  padding: 1rem;
}

.project-row:not(:last-child) {
  border-bottom: 1px solid black;
}

.project-info {
  grid-column: span 3;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.anchor {
  cursor: default;
  outline: none !important;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.anchor:hover::after {
  content: "#";
  font-size: larger;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.project-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  grid-column: span 1;
  transition: opacity 100ms;
  outline: none !important;
}

.project-icon:hover {
  opacity: 90%;
}

.project-icon > svg {
  height: 100%;
  fill: var(--off-black);
}

.icon {
  height: 70%;
  aspect-ratio: 1/1;
}

.link-container {
  display: flex;
  gap: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: small;
}

.link-container > a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.icon-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tool-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 2rem;
  fill: var(--off-black);
  gap: 4px;
}

.project-tool {
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: opacity 100ms;
}

.project-tool::after {
  content: attr(data-label);
  text-transform: capitalize;
  position: absolute;
  transform: translateX(1.5rem);
  opacity: 0;
}

.project-tool:hover {
  opacity: 90%;
}

.project-tool:has(svg:hover)::after {
  opacity: 1;
}