.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--off-black);
  color: var(--primary-90);
  overflow: hidden;
  position: relative;
}

.title {
  color: var(--primary-90);
  font-size: 13rem;
  line-height: 1;
  margin: 2rem;
}

.project-name {
  color: var(--primary-90);
  /* text-decoration: underline; */
}

.project-name::after {
  content: "#";
  opacity: 0;
  padding: 0;
  transition: all 100ms;
}

.project-name:hover::after {
  opacity: 100%;
  padding: 0.5rem;
}

.project-container {
  display: flex;
  flex-direction: column;
  width: 60rem;
  align-items: center;
}

.project-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  height: 15rem;
  width: 50rem;
  padding: 2rem 0;
  position: relative;
  gap: 1rem;
}

.project-row:not(:last-child)::after {
  content: "<=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=>";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: pre;
}

.project-info {
  grid-column: span 3;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.project-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  grid-column: span 1;
  transition: opacity 100ms;
  outline: none !important;
}

.project-icon:hover {
  opacity: 80%;
}

.project-icon > svg {
  height: 100%;
  fill: var(--primary-90);
}

.icon {
  height: 70%;
  aspect-ratio: 1/1;
}

.link-container {
  display: flex;
  gap: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: small;
}

.link-container > a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.icon-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tool-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 2rem;
  fill: var(--primary-90);
  gap: 4px;
}

.project-tool {
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: opacity 100ms;
}

.project-tool::after {
  content: attr(data-label);
  text-transform: capitalize;
  position: absolute;
  transform: translateX(1.5rem);
  opacity: 0;
}

.project-tool:hover {
  opacity: 90%;
}

.project-tool:has(svg:hover)::after {
  opacity: 1;
}

.ascii-star-l {
  position: absolute;
  left: 0;
  top: 0;
}

.ascii-star-r {
  position: absolute;
  top: 0;
  right: 0;
}

.ascii-star-r > *,
.ascii-star-l > * {
  color: var(--primary-90);
}

.star-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  min-width: 110rem;
  max-width: 159rem;
  left: 50%;
  transform: translateX(-50%);
}

.star-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .title {
    font-size: 8rem;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 4rem;
  }
}
