@import "tailwindcss";
@import "tw-animate-css";

@keyframes boatAnimation {
  0% {
    transform: translate(-250px, calc(250px * 0.57735026919));
  }
  40% {
    transform: translate(880px, calc(-1 * 880px * 0.57735026919));
  }
  60% {
    transform: translate(880px, calc(-1 * 880px * 0.57735026919));
  }
  100% {
    transform: translate(-250px, calc(250px * 0.57735026919));
  }
}

#Boat {
  animation: boatAnimation 60s ease-in-out infinite;
}

@keyframes tramAnimation {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(200px, calc(-200px * 0.57735026919));
  }
  66% {
    transform: translate(200px, calc(-200px * 0.57735026919));
  }
  100% {
    transform: translate(0, 0);
  }
}

#Tram-Train {
  animation: tramAnimation 20s ease-in-out infinite;
}
