@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

:root {
  --primary-90: #f5f3f0;
  --primary: #ebe8e1;
  --primary-110: #d0c9b9;
  --primary-120: #beb49d;

  --secondary-90: #f0f1f5;
  --secondary: #e1e9eb;
  --secondary-110: #b9c0d0;
  --secondary-120: #9da7be;

  --off-white: #fefefe;
  --off-black: #32332e;
  --off-black-90: #333333;

  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;

  cursor: default;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  color: var(--off-black);
}

h2 {
  font-size: x-large;
  font-weight: bold;
  color: var(--off-black);
}

h3 {
  font-size: medium;
  color: var(--off-black);
}

body {
  background-color: var(--primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body > section {
  flex: 1;
}

::selection {
  background: rgba(93, 134, 108, 30%);
}

a:focus {
  outline: 1px solid var(--secondary-120);
  border-radius: 4px;
  outline-offset: 0;
}
