@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

:root {
  --primary-90: #f5f5f0;
  --primary: #e6d8c3;
  --primary-110: #c2a68c;

  --secondary-90: #aec2b5;
  --secondary: #5d866c;
  --secondary-110: #3f4f44;
  --secondary-120: #2c3930;

  --off-white: #fefefe;
  --off-black: #222222;

  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;

  cursor: default;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  text-decoration: underline;
}

h2 {
  font-size: x-large;
  font-weight: bold;
}

h3 {
  font-size: medium;
}

body {
  background-color: var(--primary);
}