@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --primary-90: #f5f5f0;
  --primary: #e6d8c3;
  --primary-110: #c2a68c;

  --secondary-90: #aec2b5;
  --secondary: #5d866c;
  --secondary-110: #3f4f44;
  --secondary-120: #2c3930;

  --off-white: #fefefe;
  --off-black: #222222;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
