@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

:root {
  --primary-90: #f5f3f0;
  --primary: #ebe8e1;
  --primary-105: #e0dcd2;
  --primary-110: #d0c9b9;
  --primary-120: #beb49d;
  --primary-130: #463a1c;

  --secondary-90: #f0f1f5;
  --secondary: #e1e9eb;
  --secondary-110: #b9c0d0;
  --secondary-120: #9da7be;

  --off-white: #fefefe;
  --off-black: #32332e;
  --off-black-90: #676767;

  font-optical-sizing: auto;
  font-style: normal;

  cursor: default;
}

html,
body {
  font-family: "Roboto Mono", monospace;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  color: var(--off-black);
}

h2 {
  font-size: x-large;
  font-weight: bold;
  color: var(--off-black);
}

h3 {
  font-size: medium;
  color: var(--off-black);
}

body {
  background-color: var(--primary);
}

::-webkit-scrollbar {
  background: var(--primary);
  color: black;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-110);
  /* border-radius: 50; */
  border: 1px solid var(--primary);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--primary-120);
}

::-webkit-scrollbar-corner {
  background: var(--primary);
}

::-webkit-scrollbar-button:vertical,
::-webkit-scrollbar-button:horizontal {
  display: none;
}

::selection {
  background: rgba(93, 134, 108, 30%);
}

a:focus {
  outline: none;
  transform: rotate(2deg) scale(1.03);
  transition: transform 100ms;
}
