@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

:root {
  --primary-90: #f5f5f0;
  --primary: #e6d8c3;
  --primary-110: #c2a68c;
  --primary-120: #a38a72;

  --secondary-90: #93b8a0;
  --secondary: #5d866c;
  --secondary-110: #3f4f44;
  --secondary-120: #2c3930;

  --off-white: #fefefe;
  --off-black: #222222;
  --off-black-90: #333333;

  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;

  cursor: default;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  text-decoration: underline;
  color: var(--off-black);
}

h2 {
  font-size: x-large;
  font-weight: bold;
  color: var(--off-black);
}

h3 {
  font-size: medium;
  color: var(--off-black);
}

body {
  background-color: var(--primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body > section {
  flex: 1;
}

::selection {
  background: rgba(93, 134, 108, 30%);
}

a:focus {
  outline: 2px solid var(--secondary-120);
  border-radius: 4px;
  outline-offset: 0;
}