.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: var(--primary);
  gap: 1rem;
}

.image {
  object-fit: cover;
  position: relative;
  height: 100%;
  width: 20rem;
  overflow: hidden;
}

.content-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
  position: relative;
}

.content-row:first-of-type::after,
.content-row::before {
  content: ">>======================================================================================================<<";
  position: absolute;
  margin: -1rem;
}

.content-row::after {
  top: 0;
}

.content-row::before {
  bottom: 0;
}

.text-block {
  width: 35rem;
}

.title {
  font-size: 10rem;
}
