.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  gap: 1rem;
  position: relative;
  overflow: hidden;
  padding-bottom: 2rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60rem;
}

.image {
  object-fit: cover;
  position: relative;
  height: 13rem;
  aspect-ratio: 2 / 1;
  overflow: hidden;
}

.content-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
  position: relative;
  color: var(--off-black);
}

.content-row::after,
.content-row:last-of-type::before {
  content: ">>==============================================================================================================================<<";
  position: absolute;
  font-size: small;
  margin: -0.6rem;
  white-space: pre;
}

.content-row::after {
  top: 0;
}

.content-row::before {
  bottom: 0;
}

.text-block {
  max-width: 35rem;
}

.title {
  font-size: 13rem;
  text-transform: uppercase;
  line-height: 1;
  margin: 2rem;
}

.ascii-brick-l {
  position: absolute;
  left: 0;
  top: 0;
}

.ascii-brick-r {
  position: absolute;
  top: 0;
  right: 0;
}

.brick-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-width: 110rem;
  max-width: 159rem;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1024px) {
  .title {
    font-size: 8rem;
  }

  .brick-container {
    min-width: 90rem;
  }

  .content-row::after,
  .content-row:last-of-type::before {
    content: ">>=======================================================================================================<<";
  }

  .about-container {
    width: 47rem;
  }

  .text-block {
    max-width: 20rem;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 5rem;
  }

  .content-row::after,
  .content-row:last-of-type::before {
    content: ">>=============================================<<";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .about-container {
    width: 100%;
  }

  .text-block {
    min-width: 40%;
    max-width: 20rem;
    padding: 1rem;
    font-size: 0.8rem;
  }

  .image {
    height: 12rem;
    /* flex-shrink: 0; */
  }

  .content-row {
    padding: 1rem 0;
    position: relative;
    min-height: 15rem;
    width: 100%;
    position: relative;
    gap: 0.5rem;
  }

  .content-row:nth-child(even) {
    justify-content: start;
  }

  .content-row:nth-child(odd) {
    justify-content: end;
  }
}
