.nav {
  height: 2.8rem;
  background-color: var(--primary-110);
  color: var(--off-black);
  padding: 6px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  position: relative;
  display: inline-block;
  font-size: xx-large;
  font-weight: bold;
  line-height: 1;
}

.icon::before {
  content: "AL_X";
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.icon::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.icon:hover,
.icon:hover::after {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.icon:hover::after {
  content: "ALEX";
  opacity: 1;
}

.icon:hover::before {
  opacity: 0;
}

.icon-text {
  visibility: hidden;
}

.icon:active {
  transform: scale(98%) rotate(1deg);
}

/* -----DROPDOWN----- */

.links-container-wrapper {
  height: 100%;
  width: auto;
  display: flex;
}

.links-container {
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.page-link:hover {
  text-decoration: underline;
}

.dropdown-svg {
  display: none;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.dropdown-container {
  height: 100%;
  width: 100%;
  fill: var(--off-black);
  transition: fill 200ms;
}

.dropdown-container:hover {
  fill: var(--off-white);
  cursor: pointer;
}

@media (max-width: 768px) {
  .links-container {
    display: none;
  }
  
  .dropdown-svg {
    display: block;
  }

  .links-container-expand {

  }
}