.nav {
  background-color: var(--primary-110);
  color: var(--off-black);
  padding: 6px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  position: relative;
  display: inline-block;
  font-size: xx-large;
  font-weight: bold;
  line-height: 1;
}

.icon::before {
  content: "AL_X";
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.icon::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.icon:hover,
.icon:hover::after {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.icon:hover::after {
  content: "ALEX";
  opacity: 1;
}

.icon:hover::before {
  opacity: 0;
}

.icon-text {
  visibility: hidden;
}

.icon:active {
  transform: scale(98%) rotate(1deg);
}

.pages-container {
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.page-link:hover {
  text-decoration: underline;
}

.svg-nav {
  display: none;
  height: 100%;
  aspect-ratio: 1 / 1;
}

@media (max-width: 768px) {
  .pages-container {
    display: none;
  }
  
  .svg-nav {
    display: block;
  }
}