.container {
  background-color: var(--primary);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  font-size: 10rem;
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.welcome-text {
  text-align: right;
}

.image-container {
  width: clamp(18rem, 25rem, 32rem);
  border-radius: 1rem;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  transition: all 100ms;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.image-container:hover {
  scale: 100.5%;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.info-container {
}
