.container {
  background-color: var(--primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 52rem;
  height: 100%;
  position: relative;
  flex-direction: column;
  overflow: hidden;
}

.body {
  font-size: 10rem;
}

.title {
  text-transform: uppercase;
  font-size: 13rem;
  line-height: 1;
  translate: 12px 0;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vh 0;
  gap: 1rem;
  position: relative;
}

.welcome-text {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.image-container {
  width: 25rem;
  border-radius: 1rem;
  aspect-ratio: 1 / 1;
  transition: all 100ms;
  z-index: 1;
  position: relative;
}

.image {
  object-fit: cover;
  height: 25rem;
  width: 25rem;
  filter: brightness(105%);
  position: relative;
  margin: 1.2rem 0
}

.image-container::before, .image-container::after {
  content: "+============================================+";
  position: absolute;
  color: var(--off-black);
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  white-space: pre;
}

.image-container::before {
  bottom: 0;
}

.image-container::after {
  top: 0;
}

.ascii-col-pos-l {
  left: 0;
  top: 0;
  transform: translateY(-10px);
}

.ascii-col-pos-r {
  right: 0;
  top: 0;
  transform: translateY(-10px);
}

.small-p {
  width: 10rem;
  font-size: small;
}

.ascii-art {
  font-size: xx-small;
  margin: auto;
}

.col-container {
  width: 100%;
  min-width: 38rem;
  max-width: 142rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
