.container {
  background-color: var(--primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 52rem;
  height: 100%;
  position: relative;
  flex-direction: column;
  overflow: hidden;
}

.body {
  font-size: 10rem;
}

.title {
  text-transform: uppercase;

  font-size: 13rem;
  line-height: 1;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
  position: relative;
}

.welcome-text {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.image-container {
  width: 25rem;
  aspect-ratio: 1 / 1;
  transition: all 100ms;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
  padding: 1.2rem 0;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(105%);
  position: relative;
}

.image-container::before,
.image-container::after {
  content: "+============================================+";
  position: absolute;
  color: var(--off-black);
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  white-space: pre;
}

.image-container::before {
  bottom: 0;
}

.image-container::after {
  top: 0;
}

.ascii-col-pos-l {
  left: 0;
  top: 0;
}

.ascii-col-pos-r {
  right: 0;
  top: 0;
}

.small-p {
  width: 10rem;
  font-size: small;
}

.p-arrow {
  position: relative;
}

.p-arrow::after {
  content: "-------->";
  padding: 1rem;
}

.ascii-art {
  font-size: xx-small;
  margin: auto;
}

.col-container {
  width: 100%;
  min-width: 40rem;
  max-width: 142rem;
  position: absolute;
  top: 0;
  left: 50%;
  /* IMPORTANT!! Throwing in the towel and moving the columns 4px to the left */
  transform: translateX(-50%) translateY(-6px) translateX(-4px);
}

@media (max-width: 1024px) {
  .title {
    font-size: 8rem;
  }

  .image-container {
    width: 20rem;
  }

  .image {
    height: 20rem;
    width: 20rem;
  }

  .image-container::before,
  .image-container::after {
    content: "+===================================+";
  }

  .welcome-text {
    flex-direction: column;
  }

  .small-p {
    text-align: center;
    margin: 1rem 0;
  }

  .p-arrow::after {
    content: "V";
    position: absolute;
    bottom: 0;
    padding: 0;
    left: 50%;
    transform: translateX(-50%) translateY(1.8rem);
  }

  .p-arrow::before {
    content: "|";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(1rem);
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 5rem;
  }

  .image-container {
    width: 15rem;
  }

  .image {
    height: 15rem;
    width: 15rem;
  }

  .image-container::before,
  .image-container::after {
    content: "+==========================+";
  }
}
