.container {
  height: 302rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ascii-art {
  color: var(--off-black);
  font-size: 0.7rem;
}

.ascii-tree {
  color: var(--off-black);
  font-size: 0.7rem;
  transform: translateX(-50%) translateX(3px);
  position: absolute;
  left: 50%;
  top: 0;
}

.tree-container {
  padding: 15rem 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 48rem;
  gap: 1rem;
}

.grid-box {
  color: var(--off-black);
  font-size: large;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
  grid-column: span 2;
}

.grid-box:nth-child(odd) {
  align-items: start;
}

.grid-box:nth-child(even) {
  align-items: end;
}

.grid-box::after {
  content: "______\\__\\__________________________\\__________\\________";
  font-size: x-small;
}

.grid-box:nth-child(even)::after {
  transform: rotate(180deg);
}

.grid-box:nth-child(odd)::after {
  transform: scaleY(-1);
}

.grid-box::before {
  content: "________________\\____\\________\\_______\\_________________";
  font-size: x-small;
}

.grid-box:nth-child(even)::before {
  transform: scaleX(-1);
}

.grid-title {
  z-index: 10;
  position: absolute;
  background-color: var(--primary);
  left: 50%;
  transform: translateX(-50%);
  white-space: pre;
  line-height: 0.8;
  margin-top: 4rem;
  font-size: 3rem;
}

.box-title {
  font-style: italic;
  font-size: small;
  color: var(--off-black-90);
}

.art-text {
  z-index: 10;
  position: absolute;
  background-color: var(--primary);
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20rem;
  font-weight: normal;
  font-style: italic;
  font-size: medium;
  width: 35rem;
  text-align: center;
}

.art-text > a {
  opacity: 100%;
  transition: 100ms opacity;
}

.art-text > a:hover {
  opacity: 70%;
}
