.nav {
  width: 100%;
  height: 3rem;
  background-color: var(--primary-110);
  color: var(--off-black);
  padding: 6px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: relative;
}

.nav-2 {
  width: 100%;
  height: 3rem;
  background-color: var(--off-black-110);
  color: var(--primary-90);
  padding: 6px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: relative;
}

.icon {
  position: relative;
  display: inline-block;
  font-size: xx-large;
  font-weight: bold;
  line-height: 1;
  transform: translateY(-3px);
}

.icon::before {
  content: "AL_X";
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.icon::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.icon:hover,
.icon:hover::after {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.icon:hover::after {
  content: "ALEX";
  opacity: 1;
}

.icon:hover::before {
  opacity: 0;
}

.icon-text {
  visibility: hidden;
}

/* -----DROPDOWN----- */

.links-container-wrapper {
  height: 100%;
  width: auto;
  display: flex;
}

.links-container {
  display: flex;
  gap: 1rem;
}

.page-link {
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  z-index: 10;
}

.page-link-2 {
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  z-index: 10;
}

.page-link:hover {
  text-decoration: underline;
}

.dropdown-svg {
  display: none;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.dropdown-container {
  height: 100%;
  width: 100%;
  fill: var(--off-black);
  transition: fill 100ms;
}

.dropdown-container:hover {
  fill: var(--primary);
  cursor: pointer;
}

.dropdown-container-2 {
  height: 100%;
  width: 100%;
  fill: var(--primary);
  transition: fill 100ms;
}

.dropdown-container-2:hover {
  fill: var(--off-black);
  cursor: pointer;
}

.exit-svg {
  height: 2rem;
  aspect-ratio: 1 / 1;
  transition: fill 100ms stroke 100ms;
  fill: var(--off-black);
  stroke-width: 1.5px;
  stroke: var(--off-black);
}

.exit-svg-2 {
  height: 2rem;
  aspect-ratio: 1 / 1;
  transition: fill 100ms stroke 100ms;
  fill: var(--primary);
  stroke-width: 1.5px;
  stroke: var(--primary);
}

.exit-svg:hover {
  fill: var(--primary);
  stroke: var(--primary);
  cursor: pointer;
}

.exit-svg-2:hover {
  fill: var(--off-black-90);
  stroke: var(--off-black-90);
  cursor: pointer;
}

.dropdown-container-expand {
  display: none;
}

@media (max-width: 768px) {
  .links-container {
    display: none;
  }

  .dropdown-container-expand {
    width: auto;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    background-color: var(--primary-110);
    z-index: 10;
    padding: 4px 8px;
  }

  .dropdown-container-expand-2 {
    width: auto;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    background-color: var(--off-black-110);
    z-index: 10;
    padding: 4px 8px;
  }

  .dropdown-svg {
    display: block;
  }

  .page-link {
    font-size: x-large;
  }
}

.ascii-in-nav {
  transform: translateY(2.3em);
  left: 0;
  top: 0;
}

.ascii-in-nav-t {
  transform: translateY(-0.2em);
  left: 0;
  top: 0;
}
