.container {
  min-height: 180vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ascii-art {
  color: var(--off-black);
  font-size: x-small;
}

.ascii-tree {
  color: var(--off-black);
  font-size: x-small;
  transform: translateX(-50%) translateX(3px);
  position: absolute;
  left: 50%;
  top: 0;
}

.tree-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-box {
  font-size: large;
  text-align: center;
  width: 10rem;
  height: 10rem;
  background-color: red;
}
