.container {
  min-height: 270rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ascii-art {
  color: var(--off-black);
  font-size: x-small;
}

.ascii-tree {
  color: var(--off-black);
  font-size: x-small;
  transform: translateX(-50%) translateX(3px);
  position: absolute;
  left: 50%;
  top: 0;
}

.tree-container {
  padding: 15rem 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 45rem;
  width: 100%;
  gap: 1rem 12rem;
}

.grid-box {
  color: var(--off-black);
  font-size: large;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
  grid-column: span 2;
}

.grid-box:nth-child(even) {
  align-items: start;
}

.grid-box:nth-child(odd) {
  align-items: end;
}

.grid-box::after {
  content: "______\\__\\__________________________\\__________\\________";
  font-size: x-small;
}

.grid-box:nth-child(odd)::after {
  transform: rotate(180deg);
}

.grid-box:nth-child(even)::after {
  transform: scaleY(-1);
}

.grid-box::before {
  content: "________________\\____\\________\\_______\\_________________";
  font-size: x-small;
}

.grid-box:nth-child(odd)::before {
  transform: scaleX(-1);
}

.grid-title {
  z-index: 10;
  position: absolute;
  background-color: var(--primary);
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4rem;
  font-size: 3rem;
  white-space: pre;
  line-height: 0.8;
}

.box-title {
  font-style: italic;
  font-size: small;
  color: var(--off-black-90);
}

.line {
  position: absolute;
  bottom: 0;
  transform: translateX(18rem) translateY(14px);
  font-size: small;
}
